.from {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25%;
  border: 1px solid red; }
  .from .title {
    font-size: 20px;
    margin-bottom: 20px; }
  .from .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px;
    background-color: darkseagreen;
    border-radius: 10px; }
    .from .boxes .a {
      background-color: yellow; }
    .from .boxes .b {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      border: 1px dotted red; }

.to {
  position: absolute;
  left: 50%;
  width: 400px;
  border: 1px solid orange; }
