doctype html

html

	head

		style.
			body {
				margin: 100px
			}

			.from {
				transform: rotate(-20deg);
				width: 200px;
				height: 200px;
			}

			.child {
				background-color: #00d6b2;
			}

			.child-shadow {
				position: absolute;
				background-color: fuchsia;
			}

	body


		div(style = "width: 100px; height: 100px; transform: rotate(-20deg)")

			div(style = "width: 100px; height: 100px; transform: ")


		.child-shadow.
			Текст



		script(src = "js/calculate-matrix.js")
