doctype html

html

	head
		meta(charset = "utf-8")
		script(src = "../../vendor/web-animations-js/web-animations.min.js")
		link(rel = "stylesheet", href = "styles/convert.css")

	body

		.from
			.title(style = "margin-left: 20px")
				| Заголовок, который должен перенестись, потому что не хватает места
			.boxes
				.a Колонка 1
				.b Колонка 2
				.c Колонка 3
			.abs
				| Что-то

			img(width = "80%", height = 100, border = 8, src = "https://avatars.yandex.net/get-dps/4ec94dbb961f91d921fd8146231fb604/normal/4ec94d.png")

			//table(border = 10, width = "100%")
				tr
					td 123
					td 456
				tr
					td 123
					td 456

			button Текст

			div Правило альтернанса аллитерирует размер. Как отмечает А.А.Потебня, метр традиционен.




		.to
			.title
				| Заголовок, который должен перенестись, потому что не хватает места

			img(width = "100%", src = "https://avatars.yandex.net/get-dps/4ec94dbb961f91d921fd8146231fb604/normal/4ec94d.png")

			//table(border = 10, width = "100%")
				tr
					td 123
					td 456
				tr
					td 123
					td 456

			.abs
				span Текст



		script(src = "js/convert.js")
		script.

			window.addEventListener('load', function(){
				var fromEl = document.querySelector('.from');
				var toEl = document.querySelector('.to');

				console.time('Timer');

				var morph = new Morph(fromEl, toEl, {
					specialElConfigs: [
						{ fromEl: '.js-title', toEl: '.js-title' },
						{ fromEl: '.js-count', toEl: '.js-count' }
					]
				});

				morph.animate();

				console.timeEnd('Timer');
			});